.form-container {
    width: 80%;
    border: 1px solid #cccccc;
    padding:60px;
    text-align: center;
}

.form-header {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid grey;
}
.form.buttons {
    font-size: 30px;
    font-weight: bold;
    button {
        width: 150px;
    }
}

.form-footer {
    a {
        decoration: none;
    }
 
}